body {
  margin: 0;
}

.font {
  font-family: "Almarai", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.color-body {
  height: 100vh;
  background-color: white;
}

.btn-color {
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #224f61;
  padding: 8px;
  font-size: 16px;
}

.main-title {
  color: #03a9f5;
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  color: white !important;
}
.btn.main {
  background-color: #224f61;
}
.btn.main:hover {
  background-color: #466977;
}
.btn.delete {
  background-color: red;
}
.btn.delete.inside {
  margin-top: 16px;
}
.btn.delete:hover {
  background-color: rgb(240, 82, 82);
}

.rectangle {
  height: 550px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 4px 1px rgb(85, 85, 85);
  overflow: auto;
  overflow-x: hidden;
}

.dates-count {
  color: #555555;
  font-weight: 500;
  margin-bottom: 20px;
}

.img-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.nodatesImg {
  width: 100%;
  height: 450px;
  border-radius: 5%;
}

.nodatesQuote {
  display: flex;
  justify-content: center;
  color: #dc3545;
}

.noques {
  padding-top: 40px;
  margin-bottom: -59px;
  color: red;
  font-size: 3rem;
}

.noimage {
  padding-top: 40px;
}

.Toastify__toast-body > div:last-child {
  font-size: 1.2rem;
}

.accordion-body {
  font-size: 1.1rem;
}

button.accordion-button {
  background: white;
}

body {
  margin: 0;
}

.font {
  font-family: "Almarai", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.color-body {
  height: 100vh;
  background-color: white;
}

.btn-color {
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #224f61;
  padding: 8px;
  font-size: 16px;
}

.main-title {
  color: #03a9f5;
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
  color: white !important;
}
.btn.main {
  background-color: #224f61;
}
.btn.main:hover {
  background-color: #466977;
}
.btn.delete {
  background-color: red;
}
.btn.delete.inside {
  margin-top: 16px;
}
.btn.delete:hover {
  background-color: rgb(240, 82, 82);
}

.rectangle {
  height: 550px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 4px 4px 1px rgb(85, 85, 85);
  overflow: auto;
  overflow-x: hidden;
}

.dates-count {
  color: #555555;
  font-weight: 500;
  margin-bottom: 20px;
}

.img-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.nodatesImg {
  width: 100%;
  height: 450px;
  border-radius: 5%;
}

.nodatesQuote {
  display: flex;
  justify-content: center;
  color: #dc3545;
}

.noques {
  padding-top: 40px;
  margin-bottom: -59px;
  color: red;
  font-size: 3rem;
}

.noimage {
  padding-top: 40px;
}

.Toastify__toast-body > div:last-child {
  font-size: 1.2rem;
}

.accordion-body {
  font-size: 1.1rem;
}

button.accordion-button {
  background: white;
}

.header {
  background-color: red;
  font-family: "Almarai", sans-serif;
  font-weight: 900;
  font-size: 35px;
}

.footer {
  background-color: aqua;
}/*# sourceMappingURL=main.css.map */